body {
  background-color: #212121;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Hide scrollbars */
}

.card {
  width: 350px;
  height: 450px;
  border-radius: 24px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.lunar-icon{
    background-color: aliceblue;
    width: 310px; 
    height: 200px;
    position:absolute;
    top: 15px;
    left: 20px;
    border-radius: 9px;
}

.phase-name{
    background-color: aqua;
    width: 310px;
    height: 50px;
    position:absolute;
    top: 230px;
    left: 20px;
    border-radius: 9px;
}
.stage{
    background-color: rgb(202, 89, 255);
    width: 310px;
    height: 50px;
    position:absolute;
    top: 295px;
    left: 20px;
    border-radius: 9px;
}
.moon-counter{
    background-color: rgb(202, 89, 255);
    width: 310px;
    height: 70px;
    position:absolute;
    top: 295px;
    left: 20px;
    border-radius: 9px;
}

.full-moon-counter, .new-moon-counter{
    background-color: darkorange;
    width:130px;
    height:70px;
    display: inline-block;
    margin-left: 10px;
    padding: 0;
    text-align: center;
    color: rgb(227, 227, 227);

}
.logo{
    position: absolute;
    top: 310px;
    left: 70px;
    height: 50px;
}


