
  @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200&display=swap');


*{
  font-family: 'Kumbh Sans', sans-serif;
}

body{
  background-color: #141414;
}

/* Add styles for the planet-selector */
.planet-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.planet-selector button {
  margin: 20px 20px 20px 50px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: #404977;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 3px rgb(47, 50, 94);
}

.planet-selector button:hover {
  background-color: #5f3569;
  color: #141414;
}


.planet-card {
  transition: width 2s, height 2s, transform 2s;
  justify-content: center;
  background-color: #111111;
  border-radius: 5px;
  width: 400px;
  height: 550px;
  margin: 50px auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 3px rgb(41, 41, 41);
}

.planet-details {
  max-height: 480px; /* Set a maximum height for the details div */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.planet-description {
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis (...) for truncated text */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.photo {
  height: 200px;
  width: 100%; /* Set width to 100% to fill the container */
  background-size: cover; /* Ensure the background image covers the container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; 
  border-radius: 5px;
  background-color: #eee;
}

.info {
  margin-top: 20px;
}

.name, .description, .volume, .mass {
  width:350px;
  padding:4px 6px 4px 6px;
  text-align: center;
  color: #eee;
  border-radius: 5px;
  background-color: rgb(12, 12, 12);
  margin-bottom: 10px;
}

.name{
  font-size: 24px;
  height: 28px;
}
